.img1{
    height:200px;
    width:200px;
    margin-left:100px;
}
.nav1{
    text-decoration: none;
    margin-left:50px;
    font-weight:800;
    font-size:25px;
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
}
.nav2{
    margin-top:-10px;
    height:70px;
}
.nav3{
    margin-left:300px;
    margin-top:-150px;
}
.Footer{
    background-color:aqua;
    text-align:center;
    height:50px;
    margin-top:300px;
    padding:20px;
    font-weight:800;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    font-size:25px;
    position:sticky;
}
.container1{
    margin-top:200px;
    margin-left:100px;
    font-family:'Times New Roman', Times, serif;
    border:solid 1px lightgrey;
    width:400px;
    border:solid 2px burlywood;
    border-radius:10px;
    padding:20px;
}
h1{
    font-size:25px;
    color:brown
}
li{
    font-size:20px;
    color:blue
}
.Bigcontainer{
    display:flex;
    justify-content:space-around;
    width:1200px;
    margin-left:100px;
    padding:20px;

}
p{
    margin-left:100px;
    margin-top:-50px;
    text-decoration:underline;
}