.img1{
    height:200px;
    width:200px;
    margin-left:100px;
}
.nav1{
    text-decoration: none;
    margin-left:50px;
    font-weight:800;
    font-size:25px;
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
}
.nav2{
    margin-top:-10px;
    height:70px;
}
.nav3{
    margin-left:300px;
    margin-top:-150px;
}

.Footer{
    background-color:aqua;
    text-align:center;
    height:50px;
    margin-top:100px;
    padding:20px;
    font-weight:800;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    font-size:25px;
}
.table1{
    margin-top:150px;
    margin-left:100px;
    padding:20px;
    border:blanchedalmond solid 5px;
    border-radius:10px;
}
.text1{
    color:brown;
    font-size:80px;
    font-weight:900;
    font-family:'Times New Roman', Times, serif;
    padding:20px;
}
.text2{
    color:blue;
    font-size:20px;
    font-weight:900;
    font-family:'Times New Roman', Times, serif;
}
.icon{
    margin:10px;
    padding:10px;
    margin-left:-10px;
}
.container{
    display:flex;
    justify-content:flex-start;
    width:600px;
    margin-left:200px;
    margin-top:50px;
    gap:40px;
}
.image{
    height:250px;
    width:250px;
}
.card-header{
    text-align:center;
    font-weight:800;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    color:brown;

}
.card-footer{
    text-align:center;
    font-size:20px;
}
p{
    margin-left:100px;
    margin-top:-50px;
    text-decoration:underline;
}