.h{
    margin-left:500px;
    margin-top:-60px;
}
.img1{
    height:100px;
    width:100px;
    margin-left:300px;
    margin-top:70px;
}
.img2{
    height:100px;
    width:100px;
    margin-left:1000px;
    margin-top:-200px;
}